.calculator{
    background-color: darkgray;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 4px;
    padding: 16px;
    width: 450px;
}

#display {
    background-color: aqua;
    padding: 4px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    height: 75px;
    border: 2px solid rgb(53, 121, 209);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnContainer {
    /* display: flex; */
    /* justify-content: space-around; */
    width: 450px;
    
}

.btn {
    font-size: medium;
    background-color: lightgray;
    border-radius: 16px;
    width: 100px;
    height: 50px;
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
}

.plus,
.minus,
.mult,
.divide {
    width: 60px;
}